/* Основные стили страницы*/
.page {
  padding-block-start:  calc(var(--gaps) * 10);
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--normal, 400);
  min-inline-size:  calc(var(--gaps) * 32);
  min-block-size: 100dvb;
  color: var(--text, #000000);
  background-color: var(--background-color, #ffffff);
  background-image: var(--background-image, none);
  background-size: cover;
  background-attachment: fixed;
}

/*Работа с header*/
.header {
  display: grid;
  justify-content: center;
  justify-items: center;
  font-family: var(--font-family-accent);
  line-height: normal;
  text-transform: uppercase;
  gap: calc(var(--gaps) * 2);
}

.html {
  margin-block-end: 100px;
}

.header_title {
  display: grid;
  gap:  calc(var(--gaps) * 2);
  text-align: center;
  font-size: var(--fs-header);
  margin-block-start: var(--margin-block);
}

.header_text {
  font-size: var(--fs-header-text);
  margin-block-end: var(--margin-block);
}

/*Общие стили карточек*/
.card {
  margin-inline: auto;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--text, #000000);
  max-inline-size: calc(var(--gaps) * 69 + 6px);
}

/*Стили содержания*/
.main {
  display: grid;
  justify-items: center;
  gap: calc(var(--gaps) * 5.7);
  padding-block-end:  calc(var(--gaps) * 10 + 5px);
}

/*Кароточки*/
.card_list {
  display: grid;
  gap: calc(var(--gaps) * 5);
}

.card_header {
  border-block-end: 2px solid var(--text, #000000);
  padding: calc(var(--gaps) - 6px)  var(--gaps);
}

.card_title {
  font-variation-settings: "wght" var(--bold, 700);
  font-size:  calc(var(--gaps) + 8px);
  line-height:  calc(var(--gaps) * 2.178);
}

.card_wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper_text {
  position: absolute;
  z-index: 1;
  top: calc(var(--gaps) * 2.7);
  right: calc(var(--gaps) * 2.3);
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: normal;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--background-color, #ffffff);
  mix-blend-mode: hard-light;
}

.card_image {
  display: block;
  inline-size: 100%; 
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card_content {
  display: grid;
  gap: calc(var(--gaps) * 2.7);
  padding: calc(var(--gaps) * 3)  calc(var(--gaps) * 2.5) 0  calc(var(--gaps) * 2.5);
  border-block-start: 2px solid var(--text, #000000);
  font-size: calc(var(--gaps) + 8px);
  line-height: calc(var(--gaps) * 2.1);
}

.card_footer {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap:  calc(var(--gaps) - 6px);
  padding: calc(var(--gaps) * 2.5) calc(var(--gaps) * 2.5)  calc(var(--gaps) * 2.5 - 2px) calc(var(--gaps) * 2.5);
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  transition: border 0.3s ease-in-out;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--text, #000000);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--text, #000000);
  background-color: var(--background-color, #ffffff);
  padding:  var(--gaps)  calc(var(--gaps) * 3 + 4px);
  cursor: pointer;
  font-size:  calc(var(--gaps) + 4px);
  font-family: var(--font-family-accent);
  text-transform: inherit;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}
.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--text, #000000);
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.floppy {
  block-size: calc(var(--gaps) * 2 + 2px);
  inline-size: calc(var(--gaps) * 2 + 2px);
}

.like-icon {
  block-size: calc(var(--gaps) * 4 - 4px);
  inline-size: calc(var(--gaps) * 4 - 1px);
}

.save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gaps) - 2px);
  padding: calc(var(--gaps) * 1.5) calc(var(--gaps) * 2);
}

.button__text,
.floppy {
  color: var(--button, #ffffff);
  mix-blend-mode: difference;
}

/*Фиксируем размер кнопки*/
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.modal {
  border: 2px solid var(--text, #000000);
  font-family: var(--font-family-accent);
  font-size: calc(var(--gaps) + 4px);
  line-height: calc(var(--gaps) * 2.1);
  padding: calc(var(--gaps) * 2.5) calc(var(--gaps) * 3);
  text-transform: uppercase;
  max-inline-size: calc(var(--gaps) * 35 + 5px);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: calc(var(--gaps) * 3);
}

.modal::backdrop {
  background-color: var(--text, #000000);
  opacity: 0.75;
}

.modal_content {
  display: flex;
  justify-items: center;
  gap: calc(var(--gaps) + 6px);
}

.modal_icon {
  flex-shrink: 0;
  inline-size: calc(var(--gaps) * 3.9);
  block-size: calc(var(--gaps) * 3.9);
  margin-block: calc(var(--gaps) * 1.2);
}

.modal_button {
  inline-size: 100%;
}

/*задаём фильтры для блоков*/
.filter_grayish {
  filter: saturate(20%) brightness(130%);
}

.filter_bright {
  filter: saturate(350%);
}

.filter_green {
  filter: hue-rotate(20deg);
}

.filter_inversion {
  filter: invert(100%) opacity(80%);
}

.filter_old_films {
    filter: sepia(90%) contrast(95%);
}

.filter_blur {
  filter: blur(20px);
}

.filter_red {
  filter: hue-rotate(100deg) blur(2px) contrast(60%);
}

@media (width <= 375px) {

  .wrapper_text {
    top: calc(var(--gaps) * 2.2);
    right: calc(var(--gaps) + 1px);
  }

  .save {
    display: flex;
    flex-direction: column;
    padding: calc(var(--gaps) * 1.5) calc(var(--gaps) * 2);
  }

  .modal {
    padding: calc(var(--gaps) * 3) calc(var(--gaps) * 4);
    max-inline-size: calc(var(--gaps) * 34);
  }

  .floppy {
    inline-size: calc(var(--gaps) * 3 - 2px);
    block-size: calc(var(--gaps) * 3 - 2px);
  }

}

@supports (-webkit-text-stroke: 1px var(--background-color, #ffffff)) or
  (text-stroke: 1px var(--background-color, #ffffff)) {
  .wrapper_text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
    text-stroke: 1px var(--background-color, #ffffff);
  }
}
